@using UnitTest_Sample.Models
@model LoginViewModel
@{
    /**/

    ViewBag.Title = "ログイン";
}

<h2 id="SeleniumH2">@ViewBag.Title</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    if (ViewBag.ReturnUrl != null)
    {
        <text>@Html.Hidden("returnUrl", (string)ViewBag.ReturnUrl)</text>
    }
    @Html.ValidationSummary(true, "", new { @id = "SeleniumValidationError" })
    <div>
        @Html.LabelFor(m => m.UserName, new { @id = "SeleniumUserLabel" })
        <div>
            @Html.TextBoxFor(m => m.UserName, new { @id = "SeleniumUserText" })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @id = "SeleniumUserError" })
        </div>
        <div class="col-md-6 hidden-xs hidden-sm">
            &nbsp;
        </div>
    </div>

    <div>
        @Html.LabelFor(m => m.Password, new { @id = "SeleniumPasswordLabel" })
        <div>
            @Html.PasswordFor(m => m.Password, new { @id = "SeleniumPasswordText" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @id = "SeleniumPasswordError" })
        </div>
        <div>
            &nbsp;
        </div>
    </div>

    <div>
        <div>
            <input type="submit" value="ログイン" id="SeleniumLoginBtn"/>
        </div>
    </div>
}